.features-container{
    background: #f4f4f4;
    padding: 4vw 0;
}

.feature-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.feature-text h2{
    font-size: 45px;
    text-shadow: 2px 1px 3px #000;
}

.feature-text p{
    font-size: 20px;
    padding: 2vh 20vw;
    text-align: center;
}

/* ------------------ feature-cards ------------------- */

.feature-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2vw 0 3vw 0;
    gap: 2.2vw;
}

.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50vh;
    height: 30vh;
    background: #fff;
    border-radius: 12px;
}

.feature-card img{
    width: 65px;
}

.feature-card h2{
    font-weight: 500;
    padding-top: 2vh;
    font-size: 22px;
}

@media(max-width: 800px){
    .feature-text{
        text-align: center;
    }
    
    .feature-card{
        width: 45vh;
    }
}

@media(max-width: 450px){
    .feature-text h2{
        font-size: 6.5vh;
    }

    .feature-text p{
        font-size: 15px;
        padding: 0 3vh 3vw 3vh;
    }

    .feature-cards{
        gap: 3.5vw;
    }

    .feature-card{
        width: 50vh;
    }
}